
.App {
  text-align: center;
  position: relative;
  /* Asegúrate de que el contenido no se superponga con el fondo */
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("./images/istockphoto-147058992-612x612.jpg");
  background-size: cover;
  background-position: center;
  color:orangered;
  
}
button {
  background-color: wheat;
  border: 1px solid wheat;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  
}
h1{
  font-family: 'JurassicPark', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  
}

h2 {
  font-family: 'JurassicPark', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: maroon;
}

p {
  color: yellow;
  /* font-family: 'JurassicPark', sans-serif; */
  font-weight: 700;
}

.content {
  position: relative;
  z-index: 1;
  /* Asegura que el contenido esté delante del fondo */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}